
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>Adding Courses</h1>
</head>
<body>
  <h3>Welcome ADMIN!!</h3>
  <form id = "course-form" action="/admin/create/course" method="post">
    <input id="name" type = "text" placeholder="Name" name="name"></input>
    <br>
    <input id="credits" type = "number" placeholder="credits" name="credits"></input>
    <br>
    <input id="regid" type = "text" placeholder="RegID" name="regid"></input>
    <br>
    <input id="text" type = "text" placeholder="desc" style="height:200px" name="text"></input>
    <br>
    <button id="submit">Submit</button>
  </form>
  <br>
  <b id = "error"></b>
  <b><a href="/" id="homeLink"></a> <a href="/addcourse" id="addcourse"></a></b>
</body>
</html>
