<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>Admin page as {{name}}</h1>
</head>
<body>
  <a href="/admin/create/course">Add Courses</a>
  <a href="/admin/create/admin">Add admin</a>
  <a href="/admin/create/notice">Add notice</a>
  <a href="/admin/remove/notice">Remove notice</a>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
  <br>
  <hr>
  <b>Users</b>
  <hr>
  {{#each users}}
  {{this.user}}
  <br>
  {{/each}}
  <br>
  <hr>
  <b>Courses</b>
  <hr>
  {{#each courses}}
  {{this.name}}
  <br>
  {{/each}}
</body>
</html>
