<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>Admin page</h1>
</head>
<body>
  <a href="/addcourse">Add Courses</a>
  <br>
  <hr>
  <b>Users</b>
  <hr>
  {{#each users}}
  {{this.user}}
  <br>
  {{/each}}
  <br>
  <hr>
  <b>Courses</b>
  <hr>
  {{#each courses}}
  {{this.name}}
  <br>
  {{/each}}
</body>
</html>
