<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>{{name}} page</h1>
</head>
<body>
  <ul>
    <li><b>RegID: </b>{{regid}}</li>
    <li><b>Credits: </b>{{credits}}</li>
    <li><b>Text: </b>{{text}}</li>
  </ul>
</body>
</html>
