<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>Home page</h1>
</head>
<body>
  <h3>Welcome <a href="/profile">{{user}}</a></h3>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/courses">MyCourses</a>
  <a href="/addcourse">Add Courses</a>(need admin access)
  <a href="/coursecart">Register to courses</a>
</body>
</html>
