<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>Registration page</h1>
</head>
<body>
  <h3>Welcome User!!</h3>
  <form id = "register-form">
    <input name="username" type = "text" placeholder="Username"></input>
    <br>
    <input name="password" type = "password" placeholder="password"></input>
    <br>
    <button>Register</button>
  </form>
  <br>
  <b id = "error"></b>
  
  <script src = "./js/libs/jquery.js"></script>
</body>
</html>
